<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!-- <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" /> -->
        <!-- <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" /> -->
        <!-- <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" /> -->
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576" />
    <!--<sessionState timeout="45" mode="InProc" />-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- Validación de componentes -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="gmlpsr00034.SIMCarpetasPersonalServicios" value="http://gmlpsr00034/SIMv2SIGRH/DPC/Ejecucion/Personal/SIMCarpetasPersonalServicios.asmx" />
  </appSettings>
  <!-- Cadenas de conexión -->
  <connectionStrings>
    <!--<add name="CnxGeneral" connectionString="Data Source =.; Initial Catalog = General;  User Id =sa; Password =123;" providerName="System.Data.SqlClient" />
    <add name="CnxSigrh3" connectionString="Data Source =.; Initial Catalog = SIGRH3;   User Id =sa; Password =123;" providerName="System.Data.SqlClient" />
    <add name="CnxCheques" connectionString="Data Source =.; Initial Catalog =ControlCheques;  User Id =sa; Password =123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CnxGeneral" connectionString="Data Source =181.115.221.99; Initial Catalog = General;  User Id =alondra; Password =mZr4$pLqwSGm;" providerName="System.Data.SqlClient"/>
    <add name="CnxSigrh3" connectionString="Data Source =181.115.221.99; Initial Catalog = SIGRH3;  User Id =alondra; Password =mZr4$pLqwSGm;" providerName="System.Data.SqlClient"/>
    <add name="CnxCheques" connectionString="Data Source =181.115.221.99; Initial Catalog =ControlCheques;  User Id =alondra; Password =mZr4$pLqwSGm;" providerName="System.Data.SqlClient"/>-->
    <!--add name="CnxGeneral" connectionString="Data Source =localhost; Initial Catalog = General;Integrated Security = True" providerName="System.Data.SqlClient"/-->
    <!-->add name="CnxSigrh3" connectionString="Data Source =localhost; Initial Catalog = SIGRH3;  Integrated Security = True;" providerName="System.Data.SqlClient"/-->
    <add name="CnxGeneral" connectionString="Data Source =10.0.0.31; Initial Catalog = General;  User Id =sa; Password =3Ss3cr3t0;" providerName="System.Data.SqlClient" />
    <add name="CnxSigrh3" connectionString="Data Source =10.0.0.31; Initial Catalog = SIGRH3;  User Id =sa; Password =3Ss3cr3t0;" providerName="System.Data.SqlClient" />
    <add name="CnxCheques" connectionString="Data Source=10.0.0.31; Initial Catalog=ControlCheques; User Id=sa; Password=3Ss3cr3t0;" providerName="System.Data.SqlClient" />
    <!-->add name="SIEV" connectionString="Data Source =localhost; Initial Catalog =SIGRH3;  Integrated Security = True;" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
</configuration>