<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CnxPersonal" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gmlppc07626;Initial Catalog=personal_Mayo2020;User ID=edu;Password=123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CnxPersonal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source =gmlppc07626; Initial Catalog =personal_Mayo2020; User ID=edu;Password =123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CnxGeneral" Order="2" Enabled="False">
          <Destination Path="Data Source=181.115.221.99;Initial Catalog=General;User ID=alondra;Password=mZr4$pLqwSGm" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.214;Initial Catalog=General;User ID=amparin;Password=amparin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CnxGeneral_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source =192.168.1.214; Initial Catalog = General;  User Id =amparin; Password =amparin;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CnxSigrh3" Order="3" Enabled="False">
          <Destination Path="Data Source=181.115.221.99;Initial Catalog=sigrh3;User ID=alondra;Password=mZr4$pLqwSGm" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.214;Initial Catalog=SIGRH3;User ID=amparin;Password=amparin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CnxSigrh3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source =192.168.1.214; Initial Catalog = SIGRH3;  User Id =amparin; Password =amparin;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CnxSimV2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GMLPSR0058;Initial Catalog=SIMv2;User ID=simsisper;Password=s1ms1sp3r" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CnxSimV2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source = GMLPSR0058; Initial Catalog = SIMv2; User Id = simsisper; Password = s1ms1sp3r;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBSIM" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=GMLPSR00036;Initial Catalog=SIMv2;User ID=simsisper;Password=sispersim" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBSIM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User ID=simsisper;Password = sispersim;Initial Catalog=SIMv2;Data Source=GMLPSR00036;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SIEV" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=serverclone;Initial Catalog=evaluacion3_pruebafinal;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SIEV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source = serverclone; Initial Catalog = evaluacion3_pruebafinal; Integrated Security = True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CnxSigrh3-Web.config Connection String">
      <ParameterValue>Data Source=181.115.221.99;Initial Catalog=sigrh3;User ID=alondra;Password=mZr4$pLqwSGm</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CnxGeneral-Web.config Connection String">
      <ParameterValue>Data Source=181.115.221.99;Initial Catalog=General;User ID=alondra;Password=mZr4$pLqwSGm</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>